@import url(https://fonts.googleapis.com/css?family=Lato:regular,700);

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --dark: #333;
  --gray: #eee;
  --white: #fff;
  --green: #0d874c;
}

body {
  height: 200vh;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 150%;
  overflow-x: hidden;
}

main {
  padding-top: 60px;
}

ul {
  list-style: none;
}

a {
  color: var(--white);
  text-decoration: none;
}

.like-h1 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: #444;
  line-height: 150%;
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
}

.like-h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #444;
  margin-bottom: 20px;
}

.like-h3 {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  color: #444;
  line-height: 150%;
  margin-bottom: 20px;
}

.container {
  padding: 40px 20px;
  background-color: #fff;
}

.btn {
  display: inline-block;
  background-color: var(--green);
  padding: 0 20px;
  width: fit-content;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 40px;
  opacity: 1;
  transition: opacity 0.5;
}

.btn:hover {
  opacity: 0.75;
  transition: 0.5s;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 15px 20px;
  color: var(--white);
  background-color: var(--white);
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
  z-index: 99;
  transition: 0.5s;
}

.header--light {
  background-color: var(--white);
}

.header svg path {
  fill: var(--green);
  transition: 0.5s;
}
.header--light svg path {
  fill: var(--dark);
  transition: 0.5s;
}

.header__logo {
  width: 118px;
  height: 30px;
}

.header__link {
  display: inline-block;
  padding: 15px 20px;
  width: 100%;
  height: 60px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  transition: 0.5s;
}

.header__link:hover {
  color: var(--green);
  background-color: var(--white);
}

.header__nav {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  width: 240px;
  height: calc(100vh - 60px);
  background-color: var(--green);
  transition: 0.5s;
}

.header__nav--light {
  background-color: var(--white);
  transition: 0.5s;
}

.header__nav--light .header__link {
  color: var(--dark);
  transition: 0.5s;
}

.header__nav--light .header__link:hover {
  color: var(--white);
  background-color: var(--dark);
}

.burger {
  position: relative;
  width: 38px;
  height: 30px;
  cursor: pointer;
}

.burger__bars {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.burger__close {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 100%;
  opacity: 0;
}

.burger svg path {
  fill: var(--dark);
}

.header,
.intro,
.testimonials,
.how,
.clients,
.cta,
.why-seo,
.main-content,
.contact,
.why-caseo,
.footer {
  overflow: hidden;
}

.intro .video {
  background-color: #444;
  border: 3px solid #ffffff;
  margin-bottom: 40px;
}

.intro__title {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: #444444;
  line-height: 150%;
  margin: 0;
  margin-bottom: 40px;
}

.intro__title b {
  font-weight: 700;
  color: #000;
}

.intro__text,
.like-p {
  font-weight: 400;
  font-size: 18px;
  color: #444444;
  line-height: 150%;
  margin-bottom: 20px;
}

.intro__text b {
  font-weight: 700;
  color: #000;
}

.intro__link {
  margin: 0 auto;
  margin-bottom: 40px;
}

/* ----------------- Swiper -------------------- */
.swiper-container {
  padding-bottom: 40px !important;
  min-height: 395px;
}

.swiper-wrapper {
  position: relative !important;
  height: 100%;
}

.swiper-slide {
  height: 100%;
  padding: 0 20px 40px 20px;
  box-sizing: border-box;
}

.swiper-pagination {
  margin-bottom: 20px;
}

.swiper-pagination-bullet {
  background-color: transparent !important;
  border: 1px solid #444 !important;
  width: 20px !important;
  height: 20px !important;
  box-sizing: border-box !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--green) !important;
}

.testimonials .card {
  display: flex;
  flex-direction: column;
}
.testimonials .card__image {
  display: block;
  width: 120px !important;
  height: 120px !important;
  margin: 0 auto;
  background: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

/* ----------------- How -------------------- */

.how__container {
  position: relative;
  background-color: #fdf1ea;
  z-index: 0;
  width: 100% !important;
}

.how .swiper-container {
  background-color: #fdf1ea !important;
}

.how__title {
  text-align: left;
}

.how__slider {
  position: relative;
  left: 0;
}

.how__cards {
  position: relative;
  left: 0;
  margin-bottom: 40px;
  transition: 0.5s;
}

.card {
  position: relative;
  top: 0;
  bottom: 0;
  width: calc(100vw - 40px);
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__image {
  margin-bottom: 20px;
}

.card__icon svg {
  margin-bottom: 20px;
}

.card__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 20px;
}

.card__text b {
  font-weight: 700;
  color: #000;
}

.card__link {
  font-size: 20px;
}

.how__buttons {
  /* position: absolute; */
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how__button {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #444444;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
}

.how__button:not(:last-child) {
  margin-right: 40px;
}

.how__button.active {
  background: #0d874c;
}

/* -------------- Clients --------------- */

.clients {
  position: relative;
  background-color: #fff;
  padding-bottom: 40px;
  overflow: hidden;
}

.clients__title {
  margin-top: 0;
}

/* --------------- Testimonials -------------------- */

.testimonials {
  /* position: relative; */
  height: auto;
  background-color: #fdf1ea;
}

.testimonials__container {
  background-color: transparent;
  height: auto;
  margin-bottom: 0;
  padding-bottom: 0;
}

.testimonials__title {
  text-align: left;
}

.testimonials .cards__item {
  padding: 20px;
  width: 280px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
}

.testimonials .cards__image {
  display: flex;
  justify-content: center;
}

.testimonials .cards__image span {
  display: inline-block;
  width: 120px;
  height: 120px;
  background: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.testimonials .cards__title {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.testimonials .cards__subtitle {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
}

.testimonials .cards__text {
  font-style: italic;
  font-size: 16px;
  margin: 0;
}

.testimonials .how__button:not(:last-child) {
  margin-right: 30px;
}

/* --------------------------- CTA -------------------------- */

.cta {
  background-color: var(--green);
}

.cta__container {
  background-color: transparent;
  color: #fff;
}

.cta__title {
  color: #fff;
  /* font-size: 24px; */
}

.cta__link {
  background-color: #fff;
  color: #000;
  width: 285px;
  margin: 0 auto;
}

/* --------------------------- Why SEO -------------------------- */

.why-seo .cards__item {
  padding: 20px;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.why-seo .cards__item:not(:last-child) {
  margin-bottom: 40px;
}

.why-seo .cards__title {
  font-weight: 700;
  font-size: 20px;
  color: #444444;
  margin-bottom: 20px;
}

.why-seo .cards__text b {
  font-weight: 700;
}

.why-seo .cards__icon {
  margin-bottom: 20px;
}

/* ------------------ Main Content ----------------- */

.main-content .like-h1 {
  text-align: left;
}

.main-content .link,
.link {
  position: relative;
  font-weight: 700;
  color: var(--green);
}

.main-content .link::before,
.link::before {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -3px;
  width: 0;
  height: 3px;
  transform: translateX(-50%);
  background-color: var(--green);
  transition: 0.5s;
}
.main-content .link:hover::before,
.link:hover::before {
  width: 100%;
}

/* ------------------ Contact ------------------------ */

.contact .btn {
  margin: 0;
  width: 100%;
  height: 50px;
  font-size: 20px;
}

.contact__container {
  background-color: #fdf1ea;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

.contact__title {
  margin: 0;
  text-align: left;
  margin-bottom: 40px;
}
.contact__text {
  margin: 0;
  margin-bottom: 30px;
}

.contact__form {
  display: flex;
  flex-direction: column;
}

.contact__form > *:not(:last-child) {
  margin-bottom: 30px;
}

.contact__form label,
.contact__form input,
.contact__form textarea {
  width: 100%;
  display: inline-block;
}

.contact__form input:focus,
.contact__form textarea:focus {
  border: 2px solid #444444;
}

.contact__form label {
  font-size: 18px;
  color: #444444;
  margin-bottom: 10px;
}

.contact__form input,
.contact__form textarea {
  padding: 4px;
  font-size: 18px;
  color: #444444;
  height: 48px;
  border-radius: 5px;
  border: 1px solid #444444;
}

.contact__form textarea {
  height: 96px;
  margin-bottom: 30px;
  resize: none;
}

input.valid {
  border: 2px solid var(--green) !important;
}
input.invalid {
  border: 2px solid red !important;
}
label.valid {
  color: var(--green);
}
label.invalid {
  color: red;
}

.label-bottom {
  display: none;
}

/* --------------- Why Caseo -------------------- */

.why-caseo__container {
  padding-bottom: 0;
}

.item__stars {
  width: 240px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.item__stars .star {
  cursor: pointer;
}
.item__stars .star path {
  fill: none;
}
.item__stars .star--active path {
  fill: var(--green);
}

/* --------------- Footer -------------------- */

.footer__top-container {
  background-color: #fdf1ea;
  text-align: center;
}

.footer__text {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 150%;
  color: #000;
}

.footer__link {
  font-size: 18px;
  line-height: 150%;
}

.footer__bottom {
  position: relative;
  background-color: var(--green);
  height: 197px;
}
.footer__bottom-container {
  position: relative;
  background-color: var(--green);
}

.footer__icons {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  width: 320px;
  margin: 0 auto;
}

.footer__icons-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}
.footer__icons-item:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.footer__logo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer__logo svg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  display: none;
}

/* --------------- Carousel -------------------- */

.carousel__top,
.carousel__bottom {
  height: 80px;
}

.carousel__top {
  margin-bottom: 20px;
}

.carousel__list {
  position: absolute;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  width: 100vw;
}

.carousel__item {
  display: inline-block;
  width: 80px;
  min-height: 80px;
  border: 3px solid #444444;
}

/* --------------- Media -------------------- */

@media (min-width: 768px) {
  .burger {
    display: none;
  }

  .header__nav {
    display: block;
    position: absolute;
    top: 0;
    right: 20px;
    width: unset;
    height: 60px;
    background-color: transparent;
    transition: 0.5s;
  }

  .header__list {
    display: flex;
  }

  .header__item:not(:last-child) {
    margin-right: 20px;
  }

  .header__link {
    position: relative;
    padding: 0;
    height: 60px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: var(--dark);
  }

  .header__item:last-child {
    display: flex;
    align-items: center;
  }

  .header__item:last-child .header__link {
    background-color: var(--green);
    width: 112px;
    height: 32px;
    color: var(--white);
    text-align: center;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.05em;
    border-radius: 6px;
  }
  .header--light .header__item:last-child .header__link {
    background-color: var(--dark);
    color: var(--white);
  }

  .header__item:not(:last-child) .header__link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--green);
    opacity: 0;
    transition: opacity 0.5s;
  }

  .header__item:not(:last-child) .header__link:hover {
    color: var(--green);
    background-color: transparent;
  }

  .header__item:not(:last-child) .header__link:hover::before {
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 944px;
    margin: 0 auto;
  }

  .why-seo {
    display: none;
  }

  .how {
    background-color: #fdf1ea;
  }

  .how__title {
    text-align: center;
  }

  .why-caseo .swiper-container {
    width: 402px !important;
    overflow: visible !important;
  }
  .why-caseo .swiper-wrapper {
    width: 100% !important;
  }
  .why-caseo .swiper-slide {
    width: 100% !important;
  }
  .why-caseo .card {
    width: 100% !important;
  }

  .main-content__container {
    width: 728px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  .contact__container {
    width: 728px;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
  }

  .contact__container input {
    width: 405px;
  }

  .contact .btn {
    width: 178px;
  }

  .testimonials .swiper-container {
    width: 904px !important;
    overflow: visible !important;
  }
  .testimonials .swiper-wrapper {
    width: 100% !important;
  }
  .testimonials .swiper-slide {
    width: 100% !important;
  }
  .testimonials .card {
    width: 100% !important;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 40px;
  }
  .testimonials .card__image {
    margin-right: 40px;
  }
  .testimonials__title {
    text-align: center;
  }

  .footer__top-container {
    background-color: #fff;
  }

  .footer__top-up {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .footer__top-down {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .dot {
    display: block;
  }
}

@media (min-width: 1900px) {
  .container {
    width: 1286px;
  }

  .how .swiper-container {
    width: 1286px !important;
    overflow: visible !important;
  }
  .how .swiper-wrapper {
    width: 100% !important;
  }
  .how .swiper-slide {
    width: 100% !important;
  }
  .how .card {
    width: 100% !important;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 40px;
  }
}
