@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900);
@font-face {
  font-family: "Jaffna";
  src: url(../fonts/PostNoBillsJaffna-Bold.ttf);
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  color: #fff;
  font-size: 36px;
  font-family: "Playfair Display", sans-serif;
  text-transform: uppercase;
  z-index: 2;
  text-align: center;
}

h2 {
  color: #fff;
  font-size: 24px;
  font-family: "Playfair Display", sans-serif;
  text-transform: uppercase;
  z-index: 2;
  text-align: left;
  font-weight: 400;
  margin-bottom: 40px;
}

p {
  color: #fff;
  font-family: "PT Sans";
  font-weight: regular;
  text-align: center;
}

.button {
  outline: none;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  padding: 12px 28px;
  box-shadow: none;
  text-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.container-full {
  background: #0f0f0f;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
  transition: 0.2s;
}

.header__top {
  color: gray;
  background: #000;
  font-family: "PT Sans";
  font-size: 12px;
}

.header__top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 15px;
}

.header__top a {
  color: gray;
  padding: 0;
  margin: 0;
}

.header__top a:hover {
  color: #a1a1a1;
  text-decoration: underline;
}

.header__top span,
.header__top svg {
  padding-right: 15px;
}

.header__top .header__login-register span {
  padding: 0;
}

.header__top .header__login-register svg {
  padding-right: 14px;
}

.header__top svg {
  width: 16px;
  height: 16px;
}

.header__bottom .container {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__bottom .header__logo {
  color: #fff;
  font-family: "Jaffna", sans-serif;
  font-size: 36px;
}

.header__bottom .header__nav ul {
  display: flex;
  margin: 0;
}

.header__bottom .header__nav li {
  list-style: none;
  padding: 31px 20px;
  text-transform: uppercase;
  font-family: "PT Sans";
  font-size: 14px;
}

.header__bottom .header__nav li:hover {
  background: #1f1f1f;
}

.header__bottom .header__nav li:hover a {
  color: #fff;
}

.header__bottom .header__nav svg {
  color: #fff;
}

.header__bottom a {
  color: gray;
  padding: 0;
  margin: 0;
}

.block1 {
  position: relative;
  max-height: 810px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/main.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block1 .block1__text {
  max-width: 730px;
  margin-bottom: 154px;
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 1.5rem;
  text-transform: uppercase;
  z-index: 2;
}

.block1__logo {
  max-width: 320px;
  max-height: 320px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid #fff;
  padding: 94px 0;
  margin: 160px 0 80px 0;
  z-index: 2;
}

.block1__logo .block1__logo-head {
  font-size: 64px;
  font-family: "Jaffna";
  padding: 0;
  margin: 0;
}

.block1__logo .block1__logo-line {
  content: "";
  width: 56%;
  height: 2px;
  background: #fff;
  margin: 0 0 8px 0;
}

.block1__logo .block1__logo-city {
  font-family: "PT Sans";
  font-size: 22px;
  font-weight: regular;
  text-transform: uppercase;
}

.line {
  display: block;
  content: "";
  width: 120px;
  height: 1px;
  background: #fff;
  margin: 50px 0;
  z-index: 2;
}

.block2 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.block2__season .line {
  margin: 50px 0;
}

.block2__new-collection .line {
  margin: 30px 0;
}

.block2 .button {
  margin-bottom: 100px;
}

.block2__season {
  padding: 93px 0 73px 0;
  width: 55%;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block2__new-collection {
  width: 45%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/new_collection.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.block2__items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.block2__items img {
  width: 215px;
  height: 215px;
}

.block2__item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.block2__item--img {
  background: #191b1c;
  width: 260px;
  height: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block2__item--info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  font-family: "Playfair Display";
  font-weight: regular;
  font-size: 18px;
}

.block2__item--name {
  margin: 25px 0 10px 0;
}

.block3 {
  display: flex;
}

.block3__collection {
  padding: 100px 0;
}

.block3 p {
  font-size: 14px;
  width: 50%;
}

.block3 h1 {
  width: 50%;
}

.block3__image {
  width: 45%;
  height: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/block3_img.jpg");
  background-position: center;
  background-size: cover;
}

.block3__collection {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000;
}

.block3 .line {
  margin: 40px 0;
}

.block3 .button {
  margin-top: 61px;
}

.block4 {
  background: #000;
  padding: 120px 0;
}

.block4 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block5 {
  padding: 60px 0;
}

.block5 .line {
  margin: 40px 0;
}

.block5 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block5__items {
  background: none;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.block5__item {
  width: 100%;
}

.block5__item--img img {
  width: 100%;
  background: none;
}

footer {
  color: #fff;
}

footer p {
  text-align: left;
}

footer button {
  background: #000;
  color: #fff;
  outline: none;
  border: none;
  padding: 10px 20px;
}

footer button:hover {
  cursor: pointer;
}

.foot1 {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("../img/footer_img.jpg");
  background-size: cover;
  background-position: center;
  padding: 80px 0;
}

.foot1 .container {
  display: grid;
  grid-template-columns: 35% 30% 35%;
}

.foot1__categories {
  padding: 0 15px;
}

.foot1__buttons {
  display: flex;
  flex-wrap: wrap;
}

.foot1__buttons button {
  margin: 0 20px 20px 0;
}

.foot1__buttons button:last-of-type {
  margin-right: 0;
}

.foot2 {
  font-size: 12px;
  padding: 17px 0;
  background: #000;
}

.foot2__made-by {
  text-decoration: underline;
}

.foot2 .container {
  display: flex;
  justify-content: space-between;
}

.email {
  margin-top: 37px;
  height: 42px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.email input {
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
  font-size: 14px;
  height: 100%;
  width: auto;
  flex: 2;
  padding: 0 15px;
}

.email button {
  height: 100%;
}
