@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700);

:root {
  font-size: 20px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
<<<<<<< HEAD
  padding-top: 20px;
  padding-bottom: 20px;
=======
>>>>>>> 8ae1e20835c622c6ba1d62821dd0271fea654050
  background: linear-gradient(150deg, #111, #333);
  transition: 0.15s ease-out;
}

body.vertical {
  flex-direction: column;
  transition: 0.15s ease-out;
}

body.vertical .container {
  margin-bottom: 1rem;
  transition: 0.15s ease-out;
}

.container {
  position: relative;
<<<<<<< HEAD
  width: 50%;
}

.items {
=======
  width: 90vmin;
  height: 90vmin;
>>>>>>> 8ae1e20835c622c6ba1d62821dd0271fea654050
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  justify-content: center;
}

.items::after {
  content: "";
  display: block;
  grid-column: 1 / span 3;
  grid-row: 5 / span 2;
}

.item {
  position: relative;
  background-color: #000;
  box-shadow: 0 0 10px #111;
  border-radius: 15px;
  overflow: hidden;
  z-index: 3;
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.item2 {
  grid-column: 3 / span 3;
  grid-row: 1 / span 3;
}
.item3 {
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
}
.item4 {
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;
}
.item5 {
  grid-column: 1 / span 3;
  grid-row: 5 / span 2;
}

.item6 {
  grid-column: 4 / span 2;
  grid-row: 4 / span 3;
}

.item.active {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  grid-row: unset;
  grid-column: unset;
  z-index: 2;
}

.item.active .item__img {
  opacity: 1;
}

.item.active .item__title {
  display: none;
}

.item__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  pointer-events: none;
  transition: 0.2s ease-out;
  font-size: 1rem;
}

.item__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  transition: 0.3s ease-out;
}

.item:hover .item__img {
  opacity: 1;
}

.item:hover .item__title {
  text-shadow: 0 2px 5px #000;
  opacity: 1;
}

<<<<<<< HEAD
=======
.item1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.item2 {
  grid-column: 3 / span 3;
  grid-row: 1 / span 3;
}
.item3 {
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
}
.item4 {
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;
}
.item5 {
  grid-column: 1 / span 3;
  grid-row: 5 / span 2;
}
.item6 {
  grid-column: 4 / span 2;
  grid-row: 4 / span 3;
}

>>>>>>> 8ae1e20835c622c6ba1d62821dd0271fea654050
.shuffle-btn {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-left: 20px;
  outline: none;
  border: none;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid #fff;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.1s ease-out, font-size 0.05s ease-out;
  font-size: 0.8rem;
  border-radius: 10px;
}

.shuffle-btn:hover {
  background-color: #777;
}

.shuffle-btn:active {
  font-size: 0.75rem;
}
