@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900);

$roboto: "Roboto", sans-serif;
$bgColor: #d9e8e5;
$blue: #008c95;
$green: #53b965;
$hoverGray: #edf3f3;
$fontColorDark: #212121;
$fontColorLight: #a9a9a9;

$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: $roboto;
  font-weight: 500;
  font-size: 12px;
  color: $fontColorDark;
}

body {
  background-color: $bgColor;
  padding-bottom: 300px;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: $large;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;

  &__nav {
    z-index: 99;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  background-color: #fff;
  z-index: 99;

  & > * {
    z-index: inherit;
  }

  &__list {
    display: flex;
    align-items: center;
    background-color: #fff;
    transition: 0.3s;
    z-index: inherit;

    &:last-child {
      margin-left: 4rem;
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 2rem;
    color: $fontColorDark;
    transition: 0.3s;
    cursor: pointer;
    height: 4rem;

    &--popup {
      padding-right: 15px;
    }

    &--popup::after {
      position: absolute;
      right: 0;
      content: ">";
      transform: rotate(90deg);
      color: $fontColorDark;
    }
  }

  &__link {
    color: $fontColorDark;
    transition: 0.3s;
    pointer-events: none;

    &-icon {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.cart {
  position: relative;
  background-image: url("../img/shopping-cart.svg");
  width: 1.2rem;
  height: 1.2rem;

  &::before {
    content: attr(data-count);
    position: absolute;
    top: -0.3rem;
    right: -0.65rem;
    width: 1.1rem;
    height: 0.8rem;
    border: 1px solid #fff;
    border-radius: 15px;
    background-color: $green;
    font-size: 0.45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
}

.user {
  background-image: url("../img/cat.svg");
  width: 2rem;
  height: 2rem;
  border: 1px solid $fontColorDark;
  border-radius: 50%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-right: 4rem;

  &__icon {
    display: block;
    width: 2rem;
    height: 2rem;
    background-image: url("../img/firefox.svg");
  }
}

.window {
  display: flex;
  position: absolute;
  top: calc(100% + 1rem);
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 5px;
  visibility: hidden;
  height: 0;
  padding: 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: 0.3s;

  &__title {
    height: 0;
    opacity: 0;
  }

  &__item {
    height: 0;
    opacity: 0;

    &-logo {
      display: block;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      margin-right: 0.7rem;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    background-color: $blue;
    transition: 0.3s;

    &-count {
      font-size: 2rem;
      margin-bottom: 0.4rem;
      display: none;
    }

    &-desc {
      font-weight: normal;
      font-size: 0.8rem;
      display: none;
    }

    sub {
      font-size: 0.8rem;
    }

    sub,
    &-count,
    &-desc {
      color: #fff;
    }
  }

  &::before {
    position: absolute;
    content: "";
    background-color: #fff;
    width: 0;
    height: 0;
    top: -0.3rem;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.3s;
    z-index: -1;
  }
}

.nav__list--user {
  .window {
    flex-direction: column;

    &__item {
      padding: 1rem 1.5rem;
      margin: 0 !important;

      &:hover {
        background-color: $hoverGray;
      }

      &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}

.burger {
  display: none;
  position: relative;
  width: 1.5rem;
  height: 1rem;
  cursor: pointer;
  transition: 0.3s;

  &::before,
  &::after {
    content: "";
    background-color: $fontColorDark;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.25rem;
    transition: 0.3s;
  }

  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
}

.burger.active::before {
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}
.burger.active::after {
  bottom: 50%;
  transform: rotate(-45deg) translateY(50%);
}

.burger-popup {
  position: absolute;
  display: none !important;
  top: -100vh;
  width: 100vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transition: 0.6s;
  z-index: -1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;

  .nav__list {
    z-index: inherit;
    margin-left: 0;
    padding-bottom: 0;
  }

  .nav__item {
    padding-left: 1.5rem;

    &.light {
      opacity: 1;
    }
  }

  .nav__link {
    margin-bottom: 1rem;
  }

  .window__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  .account,
  .logout {
    background-color: $hoverGray;
    width: 100%;
    height: 3rem !important;
    margin-bottom: 0 !important;
    padding-left: 1.5rem;
  }
}

.nav__list--menu2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 0;

  .nav__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    margin-bottom: 1rem;
  }

  .window__item {
    height: auto;
    opacity: 1;
    display: flex;
  }
}

.burger-popup.active {
  top: 4rem;
}

.logo1 {
  background-image: url("../img/photo-1431057259500-78dd318a0a75.webp");
}

.logo2 {
  background-image: url("../img/photo-1444080748397-f442aa95c3e5.webp");
}

.logo3 {
  background-image: url("../img/photo-1448518340475-e3c680e9b4be.webp");
}

.logo4 {
  background-image: url("../img/photo-1449673029231-c71b7b47cf5e.webp");
}

.light {
  opacity: 0.35;
}

.visible {
  .window {
    height: auto;
    visibility: visible;
    transition: 0.3s;

    &__left {
      padding: 1.7rem;
      padding-right: 3rem;
    }

    &__right {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      &-count,
      &-desc {
        display: block;
      }
    }

    &__title {
      height: auto;
      opacity: 1;
      margin-bottom: 1rem;
      text-transform: uppercase;
      opacity: 0.35;
    }

    &__item {
      height: auto;
      opacity: 1;
    }

    &__item {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      &-title {
        margin-bottom: 0.1rem;
      }

      &-desc {
        opacity: 0.35;
        font-weight: 400;
        font-size: 0.8rem;
      }
    }

    &::before {
      position: absolute;
      content: "";
      background-color: #fff;
      width: 1rem;
      height: 1rem;
      top: -0.3rem;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
    }

    &::after {
      position: absolute;
      content: "";
      top: -1rem;
      height: 1rem;
      width: 100%;
      background-color: transparent;
    }
  }
}

@media screen and (max-width: $large) {
  .logo {
    &__text {
      display: none;
    }
  }

  .window {
    &__right {
      display: none;
    }
  }
}

@media screen and (max-width: $medium) {
}

@media screen and (max-width: $small) {
  .burger {
    display: block;
  }

  .burger-popup {
    display: block !important;
  }

  .nav__list--menu {
    display: none;
  }

  .nav__list--user {
    .nav__item--popup {
      display: none;
    }
  }
}
