* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100%;
  background: url("../img/background.png");
  background-position: center;
  background-size: cover;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;
}

.navbar {
  width: 100%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center;
}

.logo {
  width: 160px;
  cursor: pointer;
}

.cart {
  width: 40px;
  cursor: pointer;
}

nav {
  flex: 1;
  padding-left: 60px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

h1 {
  display: block;
  font-size: 60px;
  font-weight: 600;
  margin-top: 24px;
  padding-bottom: 15px;
  color: #232d60;
}

p {
  font-size: 20px;
  color: #232d60;
}

.content {
  margin-left: 5%;
  margin-top: 5%;
  z-index: 1;
  position: inherit;
}

.btn {
  display: inline-block;
  background: linear-gradient(45deg, #87adfe, #ff77cd);
  border-radius: 6px;
  padding: 10px 20px;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.85);
}

.arrow-icons img {
  width: 40px;
  margin-right: 25px;
  margin-top: 20px;
}

.feature-img {
  height: 90%;
  position: absolute;
  bottom: 0;
  right: 160px;
  z-index: 0;
}

.social-links {
  transform: rotate(-90deg);
  position: absolute;
  left: -94px;
  bottom: 141px;
  background: rgba(94, 28, 68, 0.3);
  padding: 0 12px;
}

.social-links a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 2em;
  margin-right: 10px;
}
